.up-form {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;

  h2 {
    color: #0b0e1f;
  }

  .modal-content {
    background: white;
    padding: 30px 20px 40px;
    border-radius: 10px;
    text-align: center;
    width: 550px;
    // height: 400px;

    h3 {
      color: #0b0e1f;
      span {
        color: #52ad67;
      }
    }

    .payment-method {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin: 10px 0;

      button {
        box-shadow: 0 0 10px #00000021;
        border-radius: 5px;
        width: 200px;
        height: 70px;
        margin: 0 !important;
        cursor: pointer;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px solid transparent !important;

        &:hover,
        &.active {
          box-shadow: unset !important;
          border-color: #00ff85 !important;
        }
      }
    }
    .top-up-modal {
      display: flex;
      flex-direction: column;
      padding: 0 50px;

      input {
        height: 45px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        padding: 7px 45px 5px 7px;
        border: 2px solid #52ad67;
        font-size: 16px;
      }

      #inp-w-s {
        position: relative;

        span {
          position: absolute;
          right: 7px;
          top: 50%;
          transform: translateY(-50%);
          background-color: #fff;
        }
      }

      .quick-amounts {
        margin-top: 5px;
        p {
          text-align: left;
        }

        .amount-buttons {
          display: flex;
          gap: 5px;
          button {
            color: #52ad67;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid #52ad67;
            padding: 6px 10px;
            border-radius: 5px;

            &:hover,
            &.active {
              background-color: #52ad67;
              color: #fff;
            }
          }
        }
      }
      .modal-btn {
        display: flex;
        gap: 10px;
        margin-top: 10px;

        button {
          height: 50px;
          border-radius: 5px;
          width: 100%;
          margin-top: 0 !important;
          cursor: pointer;
          font-size: 16px;

          &.ac {
            cursor: not-allowed;
          }

          &:first-child {
            background-color: transparent !important;
            color: #52ad67 !important;
            border: 2px solid #52ad67 !important;

            &:hover {
              background-color: #52ad67 !important;
              color: #fff !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .up-form {
    h2 {
      font-size: 26px;
    }
    .modal-content {
      width: 590px;
      box-shadow: 0 0 5px #0b0e1f;

      h3 {
        font-size: 24px;
      }
      .top-up-modal {
        input {
          height: 50px;
          font-size: 18px;
        }

        span {
          font-size: 18px;
        }
        .modal-btn {
          button {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .up-form {
    row-gap: 20px;
    .modal-content {
      width: 95%;
      margin: 0 auto;

      .payment-method {
        flex-direction: column;
        button {
          width: 100%;
          height: 60px;
          background-size: 200px;

          &:first-child {
            background-color: #fff;
          }

          &:last-child {
            background-color: #000;
          }
        }
      }
      .top-up-modal {
        padding: 0;
      }
    }
  }
}
